<div class="main about-main">
    <div class="about-message">   
        <h1>DreamBaseとは</h1>
        <p>夢の内容を記録するサービスです。</p>
        <p>自分の夢日記として使用したり、世界中の人と自分の夢を共有したり.....使い方は人それぞれです。</p>
    </div>
    <div class="about-message"> 
        <h2>利用方法</h2>
        <p>ログインすると、自分の夢の記録、他人の夢を閲覧することができます。</p>
        <p>ユーザー登録はメールアドレスだけで簡単にすることができます！</p>
    </div>
</div>